/* Resolucion para tablets Horizontal */
@media( (min-width: 766px ) and (max-width: 1024px)){
    /*Footer*/

    /*Cambiamos el display para que se vea en columna y no quede un grid raro*/
    .grid-footer{
        display: flex;
        flex-direction: column;      
        
    }

    /*Centramos el párrafo para que no esté demasiado cerca de los laterales*/
    #footer-description{
        margin: 0px 20%;
    }

    /*Con estos márgenes centramos el contenido y entre ello deja de haber inconsistencias*/
    .inner-box-footer{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 15px;
    }

    /*Index*/
    body{
        background-color: lightblue;
        padding: 10px;
    }

    footer{
        padding: 0px;
    }

    .producto p{
        height: 350px;
        padding: 10px;
        margin-top: 5px;
    }

    
    .articulo-blog img{
        width: 35%;
        height: 250px;
        float: right;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
    }

    .formulario{
        margin-right: 5px;
    }
    .info-form{
        margin-left: 5px;
    }
    .container-form{
        grid-gap: 25px;
    }
    
    .menus-contenido{
        flex-direction: column;
        margin: auto;
    }


}