/* Resolucion para tablets Vertical y moviles horizontal*/
@media(max-width: 765px){
    
    /*Footer*/


    /*Index*/
    body{
        background-color: lightcoral;
        padding: 0px;
    }

    .header-info {
        flex-direction: column;
    }

    .btn-1 {
        position: relative;
        top: 500px;
        visibility: hidden;
    }

    .header-txt {
        width: 75%;
    }

    .header-img{
        width: 75%;
    }

    
    .calidad-txt{
        width: 75%;
        margin: auto;
        margin-top: 50px;
        flex-direction: column-reverse;
        flex-wrap: wrap ;
    }

    .calidad-img {
         width: 100%;
    }

    .menus-contenido{
        flex-direction: column;
        margin: auto;
    }
   

    /*Somos*/


    /*Ponemos en columna el grid*/
    .compromiso-grid{
        display: flex;
        flex-direction: column;
    }

    /*Ponemos el contenido de cada apartado del grid en columna*/
    .compromiso_content{
        display: flex;
        flex-direction: column;
    }
    
    /**/
    .compromiso_photo{       
        margin-top: 0px;
    }


    /*MENU Y BLOG*/

    /*Cambiamos la distribución del display*/
    .articulo-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  
   
    /*Modificamos el tamaño de la imagen para centrara al contenedor*/
    .articulo-blog img{
        /*Con la propiedad order cambio el orden de distribución*/
        order: 2;

        width: 90%;
        margin: auto;
        padding: auto;
        margin-top: 5px;
    }

    /*Para que se adapte al margen y no se vea centrado*/
    .articulo-blog p{   
        margin-top: 20px;       
        width: 90%;   
    }

    /*Le quitamos el margen para que se vea centrado el botón*/
    .articulo-blog a{
        /*Con la propiedad order cambio el orden de distribución*/
        order: 4;
        margin-left: 0%;
    }

    /*Ordenamos los contenedores Con la propiedad order cambio el orden de distribución*/
    .articulo-blog h3{ 
        order: 1;
    }
    .articulo-blog span{ 
        order: 2;
    }
    .articulo-blog h4{
        order: 3;
    }
    .articulo-blog img{        
        order: 4;
    }
    .articulo-blog p{        
        order: 5;
    }
    .articulo-blog a{        
        order: 6;
    }
}