
.blog {
    padding: 75px 0;
    text-align: center;
}

.blog h2{
    font-size: 45px;
    color: #303030;
    margin-bottom: 30px;
}

.blog p{
    font-size: 18px;
    color: #545454;
    margin-bottom: 70px;
    padding: 0 200px;
}

.blog-info {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 3rem;
}

.articulo-blog {
    padding-bottom: 35px;
    box-shadow: 0 0 0 5px orange;    
    /*rgba(64, 123, 226, 0.2);*/
    border-radius: 5px;
    
}


.articulo-blog img{
    width: 35%;
    height: 250px;
    float: right;
    margin-right: 75px;
    margin-top: 25px;
}

.articulo-blog h3 {
    font-size: 20px;
    text-align: left;
    color: #030303;
    margin-top: 30px;
    margin-left: 75px;
    margin-bottom: 5px;

}

.articulo-blog h4 {
    font-size: 10px;
    text-align: left;
    color: #828282;
    margin-left: 75px;
    margin-bottom: 10px;

}
.articulo-blog span{
    font-size: 10px;
    float: left;
    margin-left: 75px;
    margin-top: 10px;
}

.articulo-blog p{
    width: 850px;
    font-size: 15px;
    text-align: justify;
    padding-left: 75px;
    color: #545454;
    margin-bottom: 25px;
}

.articulo-blog a{
    font-weight: 600;
    color: #3563df;

}