

/* .articulo-menu img{
    width: 400px;
    height: 400px;
    
} */



.link-decoration{
    

    border-radius: 15px;
    background-color: #ee9003;
    color: white !important;

    text-decoration: none;

    padding: 10px;
}


.menu-original{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;

    gap: 30px;
}

